.Card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 30px;
    min-height: 500px;
    padding: 20px 0;
    transition: 1s;
}
.Card:hover {
    background-color: #7bcfff;
}
.Card ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    width: 90%;
    color: #3a3a3a;
    font-family: 'Titillium', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5rem;

}
.Card img {
    display: block;
    margin: auto;
}
.Card p {
    text-align: center;
    margin: 10px 0 20px 0;
    font-weight: bold;
}