 .hidden {
    width: 100%;
    right: -40em;
    position: relative;
 }
 .show {
    position: relative;
    right: -20em;
    width: 100%;
    -webkit-animation: slide-in 1s forwards;
    animation: slide-in 1s forwards;
 }
 @-webkit-keyframes slide-in {
   100% { right: 0 }
 }
 @keyframes slide-in {
   100% { right: 0 }
 }